.MainDash{
    /* padding-top: 1rem; */
    display: flex;
    width: 150%;
    flex-direction: column;
    justify-content: column;

}

.clockTitle{
    display: block;
    margin: 18px;
    margin-left: 21%;
    font-size: 34px;
}

.greet{
    display: block;
    margin-bottom: 14px;
    font-size: 40px;
    font-weight: bold;
    margin-left: 20.3%;
}

@media screen and (max-width: 1200px) {
    .MainDash{
        justify-content:flex-start;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 768px)
{
    .MainDash{
        align-items: center;
    }
}
